

<% form_tag 'search', :method => 'get', :id => 'search_form' do %>
  <div id="search_form">
    <table style="width:100%;vertical-align:top;">
      <tr>
        <th>Period</th><th>Options</th><th>Formatting</th>
        <% days_in_from_month = search_view.from_day.at_end_of_month.mday %>
        <% days_in_to_month = search_view.to_day.at_end_of_month.mday %>
      </tr>
      <tr>

        <td>
          <table>
            <tr>
              <td><%= label_tag "from" %></td>
              <td><%= select_tag "from_year", options_for_select(years, search_view.from_day_year) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "from_month", options_from_collection_for_select( months, 'first', 'last', search_view.from_day_month ) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "from_day", options_for_select((1..days_in_from_month), search_view.from_day.mday) %></td>
            </tr>
            <tr> <td></td></tr>
            <tr>
              <td><%= label_tag "to" %></td>
              <td><%= select_tag "to_year", options_for_select(years, search_view.to_day_year) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "to_month", options_from_collection_for_select( months, 'first', 'last', search_view.to_day_month  ) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "to_day", options_for_select((1..days_in_to_month), search_view.to_day.mday ) %></td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <td><%= label_tag "status" %></td>
              <td><%= select_tag "status", empty_option("All") +  options_for_select( [['Open',TimeEntry::OPEN],['Locked',TimeEntry::LOCKED],['Billed',TimeEntry::BILLED]], search_view.status ) %></td>
            </tr>
            <tr>
              <td><%= label_tag "user" %></td>
              <td><%= select_tag "user", empty_option("All") + options_from_collection_for_select( User.all.sort, :id, :fullname, user_id ) %></td>
            </tr>
            <tr> <td></td></tr>

            <tr>
              <td><%= label_tag "customer"%></td>
              <td><%= select_tag "customer", option("All", "*") + options_from_collection_for_select( Customer.all.sort, 'id', 'name', customer_id  ) %></td>
            </tr>
            <tr>
              <% if customer %>
                <td><%= label_tag "project",'Project'%></td>
                <td><%= select_tag "project", empty_option("All") + options_from_collection_for_select(customer.projects, :id, :name, search_view.project.try("id")) %></td>
              <% else %>
                <td><%= label_tag "project",'Project', :class => 'disabled' %></td>
                <td><%= select_tag "project", empty_option("-----------"), {:disabled => true} %></td>
              <% end %>
            </tr>

            <tr> <td></td></tr>

            <tr>
              <td><%= label_tag "tag_type","Category"%></td>
              <td><%= select_tag "tag_type", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, tag_type_id) %></td>
            </tr>
            <tr>
              <% if search_view.tag_type %>
                <td><%= label_tag "tag",'Tag'%></td>
                <td><%= select_tag "tag", empty_option("All") + options_from_collection_for_select(search_view.tag_type.tags, :id, :name, tag_id) %></td>
              <% else %>
                <td><%= label_tag "tag","Tag", :class => 'disabled' %></td>
                <td><%= select_tag "tag", empty_option("-----------"), {:disabled => true} %></td>
              <% end %>
            </tr>
          </table>
        </td>

          <td><table>

            <tr>
              <td><%= label_tag "group_by","Group by" %></td>
              <td><%= select_tag "group_by", options_for_select( [['Consultant','user'],['Activity','activity'],['Date','date']], group_by) %></td>
            </tr>
       </table></td>

      </tr>
    </table>
    <br/>
    <%= hidden_field_tag 'type', "advanced" %>
    <span style="display:inline-block; width:50px;"></span>
    <%= submit_tag "Apply Filter" %>
    <%= link_to "Simple form", :action => "search" %>
    
  </div>
<% end -%>


<%= observe_form 'search_form',
  :url => {:action => 'update_search_advanced_form'},
  :update => 'search_filter' %>
